In [111]:
import os
import json
import pandas as pd

In [112]:
import os
import json
import pandas as pd

folderPathPorData = '..\\..\\Bases\\PorData\\'
folderPathInePt = '..\\..\\Bases\\InePt\\'

# Função para ler o arquivo JSON e retornar seu conteúdo como uma lista de dicionários
def read_json_file(file_path):
    try:
        with open(file_path, 'r', encoding='utf-8') as file:
            return json.load(file)
    except FileNotFoundError:
        print(f"Error: O arquivo {file_path} não foi encontrado.")
    except json.JSONDecodeError:
        print(f"Error: Falha ao decodificar JSON no arquivo {file_path}.")
    return []

# Função para ler arquivos CSV a partir de uma pasta
def read_csv_files_from_folders(folder_path):
    dataframes = []
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith('.csv'):
                file_path = os.path.join(root, file)
                print(f'Processando arquivo: {file_path}')
                try:
                    df = pd.read_csv(file_path, sep=',', encoding='utf-8', low_memory=False)
                    dataframes.append({
                        'df_folder': os.path.basename(root),
                        'df_name': os.path.splitext(file)[0],
                        'df': df
                    })
                except Exception as e:
                    print(f"Erro ao ler {file}: {e}")
    return dataframes

# Função para tratar o DataFrame de cultura e cinemas
def trata_df_cultura(df_cultura_cinemas):
    df_cultura_cinemas = df_cultura_cinemas[df_cultura_cinemas['03. Âmbito Geográfico'].notnull()]
    last_year = df_cultura_cinemas['01. Ano'].max()
    df_cultura_cinemas = df_cultura_cinemas[df_cultura_cinemas['01. Ano'] == last_year]

    df_cultura_cinemas = df_cultura_cinemas[['01. Ano', '02. Nome Região (Portugal)', '03. Âmbito Geográfico', '09. Valor']]
    df_cultura_cinemas = df_cultura_cinemas.rename(columns={
        '01. Ano': 'Ano',
        '02. Nome Região (Portugal)': 'Região',
        '03. Âmbito Geográfico': 'Âmbito Geográfico',
        '09. Valor': 'Valor'
    })
    df_cultura_cinemas['Ano'] = df_cultura_cinemas['Ano'].astype(int)
    df_cultura_cinemas['Valor'] = df_cultura_cinemas['Valor'].astype(int)
    return df_cultura_cinemas.reset_index(drop=True)

# Função para encontrar um DataFrame pelo nome
def find_df_by_name(dataframes, df_name):
    for df_info in dataframes:
        if df_info['df_name'] == df_name:
            return df_info['df']
    raise ValueError(f"DataFrame com o nome '{df_name}' não encontrado.")
dfs = []
def adiciona_df_tratado(Categoria, Nome, df):
    dfs.append({
    'Categoria': Categoria,
    'Nome': Nome,
    'df': df
    })

# Função para listar cidades com cinemas
def lista_cidades_cinemas(df_cultura_cinemas):
    df_cultura_cinemas = df_cultura_cinemas.groupby(['Região', 'Âmbito Geográfico']).agg({'Valor': 'sum'}).reset_index()
    df_cultura_cinemas = df_cultura_cinemas.sort_values(by='Valor', ascending=False).reset_index(drop=True)
    print("Cidades com mais cinemas:")
    for _, row in df_cultura_cinemas.iterrows():
        print(f"{row['Região']}: {row['Valor']} cinemas")

# Função para tratar o DataFrame de população residente
def trata_df_populacao_residente(df_populaccao_residente):
    df_populaccao_residente = df_populaccao_residente[df_populaccao_residente['04. Âmbito Geográfico'].notnull()]
    last_year = df_populaccao_residente['01. Ano'].max()
    df_populaccao_residente = df_populaccao_residente[df_populaccao_residente['01. Ano'] == last_year]

    df_sexo_pivot = df_populaccao_residente.pivot_table(
        index=['01. Ano', '03. Nome Região (Portugal)'],
        columns='05. Filtro 1',
        values='10. Valor',
        aggfunc='sum',
        fill_value=0
    )

    df_faixa_pivot = df_populaccao_residente.pivot_table(
        index=['01. Ano', '03. Nome Região (Portugal)'],
        columns='06. Filtro 2',
        values='10. Valor',
        aggfunc='sum',
        fill_value=0
    )

    df_polucao_final = pd.merge(df_sexo_pivot, df_faixa_pivot, on=['01. Ano', '03. Nome Região (Portugal)'], how='left')
    df_polucao_final.reset_index(inplace=True)
    df_polucao_final = df_polucao_final.rename(columns={
        '01. Ano': 'Ano',
        '03. Nome Região (Portugal)': 'Região',
        'Homens': 'Homens',
        'Mulheres': 'Mulheres',
        '0 - 4 anos': '0 - 4 anos',
        '5 - 9 anos': '5 - 9 anos',
        '10 - 14 anos': '10 - 14 anos',
        '15 - 19 anos': '15 - 19 anos',
        '20 - 24 anos': '20 - 24 anos',
        '25 - 29 anos': '25 - 29 anos',
        '30 - 34 anos': '30 - 34 anos',
        '35 - 39 anos': '35 - 39 anos',
        '40 - 44 anos': '40 - 44 anos',
        '45 - 49 anos': '45 - 49 anos',
        '50 - 54 anos': '50 - 54 anos',
        '55 - 59 anos': '55 - 59 anos',
        '60 - 64 anos': '60 - 64 anos',
        '65 - 69 anos': '65 - 69 anos',
        '70 - 74 anos': '70 - 74 anos',
        '75 - 79 anos': '75 - 79 anos',
        '80 - 84 anos': '80 - 84 anos',
        '85 ou mais anos': '85 ou mais anos',
        'Total_y': 'Total População'
    })

    df_polucao_final = df_polucao_final.astype({
        'Ano': 'int',
        'Região': 'str',
        'Homens': 'int',
        'Mulheres': 'int',
        '0 - 4 anos': 'int',
        '5 - 9 anos': 'int',
        '10 - 14 anos': 'int',
        '15 - 19 anos': 'int',
        '20 - 24 anos': 'int',
        '25 - 29 anos': 'int',
        '30 - 34 anos': 'int',
        '35 - 39 anos': 'int',
        '40 - 44 anos': 'int',
        '45 - 49 anos': 'int',
        '50 - 54 anos': 'int',
        '55 - 59 anos': 'int',
        '60 - 64 anos': 'int',
        '65 - 69 anos': 'int',
        '70 - 74 anos': 'int',
        '75 - 79 anos': 'int',
        '80 - 84 anos': 'int',
        '85 ou mais anos': 'int',
        'Total População': 'int'
    })

    # Calcular faixas etárias e proporções
    df_polucao_final['Total Crianças'] = df_polucao_final['0 - 4 anos'] + df_polucao_final['5 - 9 anos']
    df_polucao_final['Total Adolescentes'] = df_polucao_final['10 - 14 anos'] + df_polucao_final['15 - 19 anos']
    df_polucao_final['Total Jovens Adultos'] = df_polucao_final['20 - 24 anos']
    df_polucao_final['Total Adultos'] = df_polucao_final[['25 - 29 anos', '30 - 34 anos', '35 - 39 anos', '40 - 44 anos', 
                                                       '45 - 49 anos', '50 - 54 anos', '55 - 59 anos']].sum(axis=1)
    df_polucao_final['Total Idosos'] = df_polucao_final[['60 - 64 anos', '65 - 69 anos', '70 - 74 anos', '75 - 79 anos', 
                                                        '80 - 84 anos', '85 ou mais anos']].sum(axis=1)

    # Proporções de cada faixa etária
    df_polucao_final['Proporção Crianças'] = (df_polucao_final['Total Crianças'] / df_polucao_final['Total População']) * 100
    df_polucao_final['Proporção Adolescentes'] = (df_polucao_final['Total Adolescentes'] / df_polucao_final['Total População']) * 100
    df_polucao_final['Proporção Jovens Adultos'] = (df_polucao_final['Total Jovens Adultos'] / df_polucao_final['Total População']) * 100
    df_polucao_final['Proporção Adultos'] = (df_polucao_final['Total Adultos'] / df_polucao_final['Total População']) * 100
    df_polucao_final['Proporção Idosos'] = (df_polucao_final['Total Idosos'] / df_polucao_final['Total População']) * 100

    df_polucao_final = df_polucao_final.drop('Total_x', axis=1)

    return df_polucao_final.reset_index(drop=True)

# Função para listar cidades por grupo etário
def cidades_por_grupo(df, categoria='Todos', n=5):
    categorias = {
        'Crianças': 'Proporção Crianças',
        'Adolescentes': 'Proporção Adolescentes',
        'Jovens Adultos': 'Proporção Jovens Adultos',
        'Adultos': 'Proporção Adultos',
        'Idosos': 'Proporção Idosos',
        'Populosas': 'Total População'
    }
    
    if categoria not in categorias and categoria != 'Todos':
        print("Categoria inválida!")
        return
    
    if categoria == 'Todos':
        categorias_list = categorias.keys()
    else:
        categorias_list = [categoria]

    for cat in categorias_list:
        cidade_ordenada = df[['Ano', 'Região', categorias[cat]]].sort_values(by=categorias[cat], ascending=False).head(n)
        print(f"\nCidades com mais {cat} (%) - Top {n}:")
        for _, row in cidade_ordenada.iterrows():
            proporcao = row[categorias[cat]]
            print(f"{row['Região']}: {int(proporcao)}%")

def trata_df_populacao_densidade(df_densidade_populacional):

    df_densidade_populacional = df_densidade_populacional.dropna(axis=1, how='all')

    df_densidade_populacional = df_densidade_populacional[df_densidade_populacional['03. Nome Região (Portugal)'].notnull()]

    last_year = df_densidade_populacional['01. Ano'].max()
    df_densidade_populacional = df_densidade_populacional[df_densidade_populacional['01. Ano'] == last_year]

    df_densidade_populacional = df_densidade_populacional[df_densidade_populacional['03. Nome Região (Portugal)'] != 'Portugal']

    df_densidade_populacional = df_densidade_populacional[['01. Ano', '03. Nome Região (Portugal)', '04. Âmbito Geográfico', '10. Valor']]

    df_densidade_populacional.rename(columns={
        '01. Ano': 'Ano',
        '03. Nome Região (Portugal)': 'Região',
        '04. Âmbito Geográfico': 'Âmbito Geográfico',
        '10. Valor': 'Valor'
    }, inplace=True)

    df_densidade_populacional = df_densidade_populacional.astype({
        'Ano': 'int',
        'Região': 'str',
        'Âmbito Geográfico': 'str',
        'Valor': 'float'
    })

    return df_densidade_populacional.reset_index(drop=True)

def trata_crimes_catetoria(df_seguranca_crime_catetoria):
    
    df_seguranca_crime_catetoria = df_seguranca_crime_catetoria.dropna(axis=1, how='all')
    df_seguranca_crime_catetoria = df_seguranca_crime_catetoria[df_seguranca_crime_catetoria['02. Nome Região (Portugal)'] != 'Portugal']

    last_year = df_seguranca_crime_catetoria['01. Ano'].max()
    df_seguranca_crime_catetoria = df_seguranca_crime_catetoria[df_seguranca_crime_catetoria['01. Ano'] == last_year]

    df_seguranca_crime_catetoria = df_seguranca_crime_catetoria[['01. Ano', '02. Nome Região (Portugal)', '03. Âmbito Geográfico', '04. Filtro 1', '09. Valor']]

    df_seguranca_crime_catetoria.rename(columns={
        '01. Ano': 'Ano',
        '02. Nome Região (Portugal)': 'Região',
        '03. Âmbito Geográfico': 'Âmbito Geográfico',
        '04. Filtro 1': 'Categoria',
        '09. Valor': 'Valor'
    }, inplace=True)

    df_seguranca_crime_catetoria = df_seguranca_crime_catetoria.astype({
        'Ano': 'int',
        'Região': 'str',
        'Âmbito Geográfico': 'str',
        'Categoria': 'str',
        'Valor': 'float'
    })

    # filtering the dataframe to show only rows where 'Total' is not null
    df_seguranca_crime_catetoria = df_seguranca_crime_catetoria[df_seguranca_crime_catetoria['Valor'].notnull()]

    df_seg_categoria = df_seguranca_crime_catetoria.pivot_table(
            index=['Ano', 'Região'],
            columns='Categoria',
            values='Valor',
            aggfunc='sum',
            fill_value=0
    )

    df_seg_categoria.reset_index(inplace=True)

    return df_seg_categoria

def trata_crimes_tipo(df_seg_crimes_tipo):
    df_seg_crimes_tipo = df_seg_crimes_tipo.dropna(axis=1, how='all')
    df_seg_crimes_tipo = df_seg_crimes_tipo[df_seg_crimes_tipo['03. Nome Região (Portugal)'] != 'Portugal']
    df_seg_crimes_tipo = df_seg_crimes_tipo[df_seg_crimes_tipo['03. Nome Região (Portugal)'].notna()]

    last_year = df_seg_crimes_tipo['01. Ano'].max()
    df_seg_crimes_tipo = df_seg_crimes_tipo[df_seg_crimes_tipo['01. Ano'] == last_year]

    df_seg_crimes_tipo = df_seg_crimes_tipo.drop( columns= ['09. Símbolo','08. Escala'], axis=1)

    df_seg_crimes_tipo = df_seg_crimes_tipo[['01. Ano', '03. Nome Região (Portugal)', '04. Âmbito Geográfico', '05. Filtro 1', '10. Valor']]

    df_seg_crimes_tipo.rename(columns={
        '01. Ano': 'Ano',
        '03. Nome Região (Portugal)': 'Região',
        '04. Âmbito Geográfico': 'Âmbito Geográfico',
        '05. Filtro 1': 'Tipo de Crime',
        '10. Valor': 'Valor'
    }, inplace=True)

    df_seg_crimes_tipo = df_seg_crimes_tipo.astype({
        'Ano': 'int',
        'Região': 'str',
        'Âmbito Geográfico': 'str',
        'Tipo de Crime': 'str',
        'Valor': 'float'
    })

    df_seg_crimes_tipo = df_seg_crimes_tipo.pivot_table(
            index=['Ano', 'Região'],
            columns='Tipo de Crime',
            values='Valor',
            aggfunc='sum',
            fill_value=0
    )

    return df_seg_crimes_tipo.reset_index(drop=False)

def trata_hospitais(df_saude_hospitais):
    df_saude_hospitais = df_saude_hospitais.dropna(axis=1, how='all')
    df_saude_hospitais = df_saude_hospitais[df_saude_hospitais['02. Nome Região (Portugal)'] != 'Portugal']

    last_year = df_saude_hospitais['01. Ano'].max()
    df_saude_hospitais = df_saude_hospitais[df_saude_hospitais['01. Ano'] == last_year]

    df_saude_hospitais.drop(columns=['08. Símbolo'], inplace=True)

    df_saude_hospitais.rename(columns={
            '01. Ano': 'Ano',
            '02. Nome Região (Portugal)': 'Região',
            '03. Âmbito Geográfico': 'Âmbito Geográfico',
            '04. Filtro 1': 'Tipo hospital',
            '09. Valor': 'Valor'
        }, inplace=True)

    df_saude_hospitais = df_saude_hospitais.astype({
            'Ano': 'int',
            'Região': 'str',
            'Âmbito Geográfico': 'str',
            'Tipo hospital': 'str',
            'Valor': 'float'
        })

    df_saude_hospitais = df_saude_hospitais.pivot_table(
                index=['Ano', 'Região'],
                columns='Tipo hospital',
                values='Valor',
                aggfunc='sum',
                fill_value=0
        )

    df_saude_hospitais.reset_index(inplace=True)

    return df_saude_hospitais

def trata_farmacias(df_saude_farmacias):

    df_saude_farmacias = df_saude_farmacias.dropna(axis=1, how='all')
    df_saude_farmacias = df_saude_farmacias[df_saude_farmacias['02. Nome Região (Portugal)'] != 'Portugal']

    if df_saude_farmacias['08. Símbolo'].nunique() == 1:
        df_saude_farmacias = df_saude_farmacias.drop(columns=['08. Símbolo'])

    last_year = df_saude_farmacias['01. Ano'].max()
    df_saude_farmacias = df_saude_farmacias[df_saude_farmacias['01. Ano'] == last_year]

    df_saude_farmacias.rename(columns={
            '01. Ano': 'Ano',
            '02. Nome Região (Portugal)': 'Região',
            '03. Âmbito Geográfico': 'Âmbito Geográfico',
            '09. Valor': 'Valor'
        }, inplace=True)

    df_saude_farmacias = df_saude_farmacias.astype({
            'Ano': 'int',
            'Região': 'str',
            'Âmbito Geográfico': 'str',
            'Valor': 'float'
        })
    
    return df_saude_farmacias

def trata_ensino_n_superior(df_edu_ensino_n_superior):
    df_edu_ensino_n_superior = df_edu_ensino_n_superior.dropna(axis=1, how='all')
    df_edu_ensino_n_superior = df_edu_ensino_n_superior[df_edu_ensino_n_superior['02. Nome Região (Portugal)'] != 'Portugal']

    df_edu_ensino_n_superior = df_edu_ensino_n_superior.drop(columns=['08. Símbolo'])

    last_year = df_edu_ensino_n_superior['01. Ano'].max()
    df_edu_ensino_n_superior = df_edu_ensino_n_superior[df_edu_ensino_n_superior['01. Ano'] == last_year]

    df_edu_ensino_n_superior.rename(columns={
            '01. Ano': 'Ano',
            '02. Nome Região (Portugal)': 'Região',
            '03. Âmbito Geográfico': 'Âmbito Geográfico',
            '04. Filtro 1': 'Nível de Ensino',
            '05. Filtro 2': 'Tipo de Escola',
            '09. Valor': 'Valor'
        }, inplace=True)

    df_edu_ensino_n_superior = df_edu_ensino_n_superior.astype({
            'Ano': 'int',
            'Região': 'str',
            'Âmbito Geográfico': 'str',
            'Nível de Ensino': 'str',
            'Tipo de Escola': 'str',
            'Valor': 'float'
        })

    df_edu_escola_nivel = df_edu_ensino_n_superior.pivot_table(
            index=['Ano', 'Região'],
            columns='Nível de Ensino',
            values='Valor',
            aggfunc='sum',
            fill_value=0
        )

    df_edu_escola_nivel.reset_index(inplace=True)

    df_edu_escola_tipo= df_edu_ensino_n_superior.pivot_table(
            index=['Ano', 'Região'],
            columns='Tipo de Escola',
            values='Valor',
            aggfunc='sum',
            fill_value=0
        )

    df_edu_escola_tipo.reset_index(inplace=True)

    df_edu_escola_final = pd.merge(df_edu_escola_tipo, df_edu_escola_nivel, on=['Ano', 'Região'], how='left')
    df_edu_escola_final.reset_index(inplace=True)

    df_edu_escola_final.drop(columns=['index','Total_x'], inplace=True)
    df_edu_escola_final.rename(columns={'Total_y': 'Total Estabelecimentos'}, inplace=True)

    return df_edu_escola_final


def trata_ensino_superior(df_edu_ensino_superior):
    
    df_edu_ensino_superior = df_edu_ensino_superior.dropna(axis=1, how='all')
    df_edu_ensino_superior = df_edu_ensino_superior[df_edu_ensino_superior['02. Nome Região (Portugal)'] != 'Portugal']

    df_edu_ensino_superior = df_edu_ensino_superior.drop(columns=['08. Símbolo'])

    last_year = df_edu_ensino_superior['01. Ano'].max()
    df_edu_ensino_superior = df_edu_ensino_superior[df_edu_ensino_superior['01. Ano'] == last_year]

    df_edu_ensino_superior.rename(columns={
            '01. Ano': 'Ano',
            '02. Nome Região (Portugal)': 'Região',
            '03. Âmbito Geográfico': 'Âmbito Geográfico',
            '04. Filtro 1': 'Tipo de Escola',
            '09. Valor': 'Valor'
        }, inplace=True)

    df_edu_ensino_superior = df_edu_ensino_superior.astype({
            'Ano': 'int',
            'Região': 'str',
            'Âmbito Geográfico': 'str',
            'Tipo de Escola': 'str',
            'Valor': 'float'
        })

    df_edu_ensino_superior = df_edu_ensino_superior.pivot_table(
            index=['Ano', 'Região'],
            columns='Tipo de Escola',
            values='Valor',
            aggfunc='sum',
            fill_value=0
        )

    df_edu_ensino_superior.reset_index(inplace=True)

    return df_edu_ensino_superior


def trata_econ_depositos(df_econ_depositos):
    df_econ_depositos = df_econ_depositos.dropna(axis=1, how='all')

    df_econ_depositos = df_econ_depositos[df_econ_depositos['02. Nome Região (Portugal)'] != 'Portugal']

    df_econ_depositos = df_econ_depositos.drop(columns=['08. Símbolo'])

    last_year = df_econ_depositos['01. Ano'].max()
    df_econ_depositos = df_econ_depositos[df_econ_depositos['01. Ano'] == last_year]

    df_econ_depositos.rename(columns={
                '01. Ano': 'Ano',
                '02. Nome Região (Portugal)': 'Região',
                '03. Âmbito Geográfico': 'Âmbito Geográfico',
                '04. Filtro 1': 'Deposito',
                '09. Valor': 'Valor'
            }, inplace=True)

    df_econ_depositos = df_econ_depositos.astype({
                'Ano': 'int',
                'Região': 'str',
                'Âmbito Geográfico': 'str',
                'Deposito': 'str',
                'Valor': 'float'
            })

    df_econ_depositos = df_econ_depositos.pivot_table(
                index=['Ano', 'Região'],
                columns='Deposito',
                values='Valor',
                aggfunc='sum',
                fill_value=0
            )

    df_econ_depositos.reset_index(inplace=True)

    return df_econ_depositos


def trata_econ_bancos(df_econ_estabelecimentos_bancos):
    
    df_econ_estabelecimentos_bancos = df_econ_estabelecimentos_bancos.dropna(axis=1, how='all')

    df_econ_estabelecimentos_bancos = df_econ_estabelecimentos_bancos[df_econ_estabelecimentos_bancos['02. Nome Região (Portugal)'] != 'Portugal']

    last_year = df_econ_estabelecimentos_bancos['01. Ano'].max()
    df_econ_estabelecimentos_bancos = df_econ_estabelecimentos_bancos[df_econ_estabelecimentos_bancos['01. Ano'] == last_year]

    df_econ_estabelecimentos_bancos.rename(columns={
                    '01. Ano': 'Ano',
                    '02. Nome Região (Portugal)': 'Região',
                    '03. Âmbito Geográfico': 'Âmbito Geográfico',
                    '09. Valor': 'Valor'
                }, inplace=True)

    df_econ_estabelecimentos_bancos = df_econ_estabelecimentos_bancos.astype({
                    'Ano': 'int',
                    'Região': 'str',
                    'Âmbito Geográfico': 'str',
                    'Valor': 'float'
                })

    return df_econ_estabelecimentos_bancos


def trata_df_desemprego(df_desemprego):
    df_desemprego = df_desemprego.dropna(axis=1, how='all')
    df_desemprego = df_desemprego[df_desemprego['02. Nome Região (Portugal)'] != 'Portugal']
    df_desemprego = df_desemprego.drop(columns=['08. Símbolo'])

    last_year = df_desemprego['01. Ano'].max()
    df_desemprego = df_desemprego[df_desemprego['01. Ano'] == last_year]

    df_desemprego.rename(columns={
                '01. Ano': 'Ano',
                '02. Nome Região (Portugal)': 'Região',
                '03. Âmbito Geográfico': 'Âmbito Geográfico',
                '04. Filtro 1': 'Faixa Etária',
                '09. Valor': 'Valor'
            }, inplace=True)

    df_desemprego = df_desemprego.astype({
                'Ano': 'int',
                'Região': 'str',
                'Âmbito Geográfico': 'str',
                'Faixa Etária': 'str',
                'Valor': 'float'
            })
    df_desemprego = df_desemprego.reset_index(drop=True)

    df_desemprego = df_desemprego.pivot_table(
                    index=['Ano', 'Região'],
                    columns='Faixa Etária',
                    values='Valor',
                    aggfunc='sum',
                    fill_value=0
                )

    df_desemprego.reset_index(inplace=True)

    return df_desemprego

def trata_populacao_empregada_escolaridade(df_polacao_empregada):
    df_polacao_empregada = df_polacao_empregada.dropna(axis=1, how='all')
    df_polacao_empregada = df_polacao_empregada[df_polacao_empregada['02. Nome Região (Portugal)'] != 'Portugal']
    df_polacao_empregada = df_polacao_empregada.drop(columns=['08. Símbolo'])

    last_year = df_polacao_empregada['01. Ano'].max()
    df_polacao_empregada = df_polacao_empregada[df_polacao_empregada['01. Ano'] == last_year]

    df_polacao_empregada.rename(columns={
                    '01. Ano': 'Ano',
                    '02. Nome Região (Portugal)': 'Região',
                    '03. Âmbito Geográfico': 'Âmbito Geográfico',
                    '04. Filtro 1': 'Escolaridade',
                    '09. Valor': 'Valor'
                }, inplace=True)

    df_polacao_empregada = df_polacao_empregada.astype({
                    'Ano': 'int',
                    'Região': 'str',
                    'Âmbito Geográfico': 'str',
                    'Escolaridade': 'str',
                    'Valor': 'float'
                })

    df_polacao_empregada = df_polacao_empregada.pivot_table(
                        index=['Ano', 'Região'],
                        columns='Escolaridade',
                        values='Valor',
                        aggfunc='sum',
                        fill_value=0
                    )

    df_polacao_empregada.reset_index(inplace=True)

    return df_polacao_empregada

def trata_econ_bancos(df_econ_estabelecimentos_bancos):
    df_econ_estabelecimentos_bancos = df_econ_estabelecimentos_bancos.dropna(axis=1, how='all')

    df_econ_estabelecimentos_bancos = df_econ_estabelecimentos_bancos[df_econ_estabelecimentos_bancos['02. Nome Região (Portugal)'] != 'Portugal']

    last_year = df_econ_estabelecimentos_bancos['01. Ano'].max()
    df_econ_estabelecimentos_bancos = df_econ_estabelecimentos_bancos[df_econ_estabelecimentos_bancos['01. Ano'] == last_year]

    df_econ_estabelecimentos_bancos.rename(columns={
                    '01. Ano': 'Ano',
                    '02. Nome Região (Portugal)': 'Região',
                    '03. Âmbito Geográfico': 'Âmbito Geográfico',
                    '09. Valor': 'Valor'
                }, inplace=True)

    df_econ_estabelecimentos_bancos = df_econ_estabelecimentos_bancos.astype({
                    'Ano': 'int',
                    'Região': 'str',
                    'Âmbito Geográfico': 'str',
                    'Valor': 'float'
                })

    return df_econ_estabelecimentos_bancos

def trata_populacao_empregada_ramo(df_polacao_empregada_ramo):
    df_polacao_empregada_ramo = df_polacao_empregada_ramo.dropna(axis=1, how='all')
    df_polacao_empregada_ramo = df_polacao_empregada_ramo[df_polacao_empregada_ramo['02. Nome Região (Portugal)'] != 'Portugal']

    last_year = df_polacao_empregada_ramo['01. Ano'].max()
    df_polacao_empregada_ramo = df_polacao_empregada_ramo[df_polacao_empregada_ramo['01. Ano'] == last_year]

    df_polacao_empregada_ramo = df_polacao_empregada_ramo.drop(columns=['08. Símbolo'])

    df_polacao_empregada_ramo.rename(columns={
                        '01. Ano': 'Ano',
                        '02. Nome Região (Portugal)': 'Região',
                        '03. Âmbito Geográfico': 'Âmbito Geográfico',
                        '04. Filtro 1': 'Ramo de Atividade',
                        '09. Valor': 'Valor'
                    }, inplace=True)

    df_polacao_empregada_ramo = df_polacao_empregada_ramo.astype({
                        'Ano': 'int',
                        'Região': 'str',
                        'Âmbito Geográfico': 'str',
                        'Ramo de Atividade': 'str',
                        'Valor': 'float'
                    })

    df_polacao_empregada_ramo = df_polacao_empregada_ramo.pivot_table(
                            index=['Ano', 'Região'],
                            columns='Ramo de Atividade',
                            values='Valor',
                            aggfunc='sum',
                            fill_value=0
                        )
    df_polacao_empregada_ramo.reset_index(inplace=True)

    return df_polacao_empregada_ramo

def trata_populacao_estrangeira(df_populacao_estrangeira):
    df_populacao_estrangeira = df_populacao_estrangeira.dropna(axis=1, how='all')
    df_populacao_estrangeira = df_populacao_estrangeira[df_populacao_estrangeira['02. Nome Região (Portugal)'] != 'Portugal']

    last_year = df_populacao_estrangeira['01. Ano'].max()
    df_populacao_estrangeira = df_populacao_estrangeira[df_populacao_estrangeira['01. Ano'] == last_year]

    df_populacao_estrangeira = df_populacao_estrangeira.drop(columns=['08. Símbolo'])

    df_populacao_estrangeira.rename(columns={
                            '01. Ano': 'Ano',
                            '02. Nome Região (Portugal)': 'Região',
                            '03. Âmbito Geográfico': 'Âmbito Geográfico',
                            '04. Filtro 1': 'Nacionalidade',
                            '09. Valor': 'Valor'
                        }, inplace=True)

    df_populacao_estrangeira = df_populacao_estrangeira.astype({
                            'Ano': 'int',
                            'Região': 'str',
                            'Âmbito Geográfico': 'str',
                            'Nacionalidade': 'str',
                            'Valor': 'float'
                        })

    df_populacao_estrangeira = df_populacao_estrangeira.pivot_table(
                                index=['Ano', 'Região'],
                                columns='Nacionalidade',
                                values='Valor',
                                aggfunc='sum',
                                fill_value=0
                            )
    df_populacao_estrangeira.reset_index(inplace=True)

    return df_populacao_estrangeira

def trata_moradia_edificios(df_moradia_edificios):
    df_moradia_edificios = df_moradia_edificios.dropna(axis=1, how='all')
    df_moradia_edificios = df_moradia_edificios[df_moradia_edificios['02. Nome Região (Portugal)'] != 'Portugal']

    last_year = df_moradia_edificios['01. Ano'].max()
    df_moradia_edificios = df_moradia_edificios[df_moradia_edificios['01. Ano'] == last_year]

    df_moradia_edificios.rename(columns={
                                '01. Ano': 'Ano',
                                '02. Nome Região (Portugal)': 'Região',
                                '03. Âmbito Geográfico': 'Âmbito Geográfico',
                                '04. Filtro 1': 'Tipo de Obra',
                                '05. Filtro 2': 'Fim que se destina',
                                '09. Valor': 'Valor'
                            }, inplace=True)

    df_moradia_edificios = df_moradia_edificios.astype({
                                'Ano': 'int',
                                'Região': 'str',
                                'Âmbito Geográfico': 'str',
                                'Tipo de Obra': 'str',
                                'Fim que se destina': 'str',
                                'Valor': 'float'
                            })

    df_moradia_edificios_tipo = df_moradia_edificios.pivot_table(
                                    index=['Ano', 'Região'],
                                    columns='Tipo de Obra',
                                    values='Valor',
                                    aggfunc='sum',
                                    fill_value=0
                                )
    df_moradia_edificios_tipo.reset_index(inplace=True)

    df_moradia_edificios_destino = df_moradia_edificios.pivot_table(
                                    index=['Ano', 'Região'],
                                    columns='Fim que se destina',
                                    values='Valor',
                                    aggfunc='sum',
                                    fill_value=0
                                )
    df_moradia_edificios_destino.reset_index(inplace=True)

    df_moradia_edificios_final = pd.merge(df_moradia_edificios_destino, df_moradia_edificios_tipo, on=['Ano', 'Região'], how='left')
    df_moradia_edificios_final.reset_index(inplace=True)

    df_moradia_edificios_final.drop(columns=['index','Total_x'], inplace=True)

    return df_moradia_edificios_final


def trata_construcoes_novas(df_construcoes_novas):
    df_construcoes_novas = df_construcoes_novas.dropna(axis=1, how='all')
    df_construcoes_novas = df_construcoes_novas[df_construcoes_novas['02. Nome Região (Portugal)'] != 'Portugal']

    last_year = df_construcoes_novas['01. Ano'].max()
    df_construcoes_novas = df_construcoes_novas[df_construcoes_novas['01. Ano'] == last_year]

    df_construcoes_novas.rename(columns={
                                    '01. Ano': 'Ano',
                                    '02. Nome Região (Portugal)': 'Região',
                                    '03. Âmbito Geográfico': 'Âmbito Geográfico',
                                    '04. Filtro 1': 'Qtd. Quartos',
                                    '09. Valor': 'Valor'
                                }, inplace=True)

    df_construcoes_novas = df_construcoes_novas.astype({
                                    'Ano': 'int',
                                    'Região': 'str',
                                    'Âmbito Geográfico': 'str',
                                    'Qtd. Quartos': 'str',
                                    'Valor': 'float'
                                })

    df_construcoes_novas = df_construcoes_novas.pivot_table(
                                index=['Ano', 'Região'],
                                columns='Qtd. Quartos',
                                values='Valor',
                                aggfunc='sum',
                                fill_value=0
                            )
    df_construcoes_novas.reset_index(inplace=True)

    return df_construcoes_novas

def trata_sal_ganho_medio_mensal(df_sal_ganho_medio_mensal):
    df_sal_ganho_medio_mensal = df_sal_ganho_medio_mensal.dropna(axis=1, how='all')
    df_sal_ganho_medio_mensal = df_sal_ganho_medio_mensal[df_sal_ganho_medio_mensal['02. Nome Região (Portugal)'] != 'Portugal']

    last_year = df_sal_ganho_medio_mensal['01. Ano'].max()
    df_sal_ganho_medio_mensal = df_sal_ganho_medio_mensal[df_sal_ganho_medio_mensal['01. Ano'] == last_year]

    df_sal_ganho_medio_mensal.drop(columns=['08. Símbolo'], inplace=True)

    df_sal_ganho_medio_mensal.rename(columns={
        '01. Ano': 'Ano',
        '02. Nome Região (Portugal)': 'Região',
        '03. Âmbito Geográfico': 'Âmbito Geográfico',
        '09. Valor': 'Valor'
    }, inplace=True)

    df_sal_ganho_medio_mensal = df_sal_ganho_medio_mensal.astype({
        'Ano': 'int',
        'Região': 'str',
        'Âmbito Geográfico': 'str',
        'Valor': 'float'
    })

    return df_sal_ganho_medio_mensal

def trata_sal_ganho_medio_mensal_escol(df_sal_ganho_medio_mensal_escol):
    df_sal_ganho_medio_mensal_escol = df_sal_ganho_medio_mensal_escol.dropna(axis=1, how='all')
    df_sal_ganho_medio_mensal_escol = df_sal_ganho_medio_mensal_escol[df_sal_ganho_medio_mensal_escol['02. Nome Região (Portugal)'] != 'Portugal']

    last_year = df_sal_ganho_medio_mensal_escol['01. Ano'].max()
    df_sal_ganho_medio_mensal_escol = df_sal_ganho_medio_mensal_escol[df_sal_ganho_medio_mensal_escol['01. Ano'] == last_year]

    df_sal_ganho_medio_mensal_escol.drop(columns=['08. Símbolo'], inplace=True)

    df_sal_ganho_medio_mensal_escol.rename(columns={
        '01. Ano': 'Ano',
        '02. Nome Região (Portugal)': 'Região',
        '03. Âmbito Geográfico': 'Âmbito Geográfico',
        '04. Filtro 1': 'Nível de Escolaridade',
        '09. Valor': 'Valor'
    }, inplace=True)

    df_sal_ganho_medio_mensal_escol = df_sal_ganho_medio_mensal_escol.astype({
        'Ano': 'int',
        'Região': 'str',
        'Âmbito Geográfico': 'str',
        'Nível de Escolaridade': 'str',
        'Valor': 'float'
    })

    df_sal_ganho_medio_mensal_escol = df_sal_ganho_medio_mensal_escol.pivot_table(
                                    index=['Ano', 'Região'],
                                    columns='Nível de Escolaridade',
                                    values='Valor',
                                    aggfunc='sum',
                                    fill_value=0
                                )
    df_sal_ganho_medio_mensal_escol.reset_index(inplace=True)

    return df_sal_ganho_medio_mensal_escol

def trata_econ_poder_compra():

    file_path = '..\\..\\Bases\\PorData\\economia\\Municipios_Proporcao_de_poder_de_compra.xlsx'

    excel_data = pd.ExcelFile(file_path)

    # Carregar a planilha 'Quadro'
    df = pd.read_excel(excel_data, sheet_name='Quadro')

    # Limpar e extrair as colunas e dados relevantes
    df_econ_poder_compra = df.iloc[10:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
    df_econ_poder_compra.columns = ['Âmbito Geográfico', 'Anos', '1993', '2000', '2002', '2007', '2009', '2011', '2013', '2015', '2017', '2019', '2021']

    # Remover linhas completamente vazias
    df_econ_poder_compra = df_econ_poder_compra.dropna(how='all')

    # Resetar o índice
    df_econ_poder_compra.reset_index(drop=True, inplace=True)

    df_econ_poder_compra = df_econ_poder_compra.drop(0, axis=0).reset_index(drop=True)

    df_econ_poder_compra = df_econ_poder_compra[df_econ_poder_compra['Âmbito Geográfico'] == 'Município']

    df_econ_poder_compra = df_econ_poder_compra[['Âmbito Geográfico', 'Anos', df_econ_poder_compra.columns[-1]]]

    ultima_coluna = df_econ_poder_compra.columns[-1]
    df_econ_poder_compra.rename(columns={
        'Âmbito Geográfico': 'Âmbito Geográfico',
        'Anos': 'Região',
        ultima_coluna: 'Valor'
    }, inplace=True)

    df_econ_poder_compra = df_econ_poder_compra.astype({
        'Âmbito Geográfico': 'str',
        'Região': 'str',
        'Valor': 'float'
    })

    return df_econ_poder_compra

In [113]:
def trata_seg_taxa_crime():
    file_path = '..\\..\\Bases\\InePt\\seguranca\\INE_PT-Taxa-de-criminalidade.xls'

    excel_data = pd.ExcelFile(file_path)

    # Carregar a planilha 'Quadro'
    df_seg_tax_crime = pd.read_excel(excel_data, sheet_name='Quadro')

    df_seg_tax_crime= df_seg_tax_crime.iloc[10:, [0, 1, 2, 4, 6, 8, 10, 12, 14]]
    df_seg_tax_crime.columns = [
        'Regiao', 
        'Codigo', 
        'Total', 
        'Crimes contra a integridade física', 
        'Furto/roubo por esticão e na via pública', 
        'Furto de veículo e em veículo motorizado', 
        'Condução de veículo com taxa de álcool igual ou superior a 1,2g/l',
        'Condução sem habilitação legal', 
        'Crimes contra o património'
        ]

    # Remover linhas completamente vazias
    df_seg_tax_crime = df_seg_tax_crime.dropna(how='all')

    df_seg_tax_crime['Codigo'] = df_seg_tax_crime['Codigo'].astype(str)
    df_seg_tax_crime = df_seg_tax_crime[df_seg_tax_crime['Codigo'].str.len() == 7]

    df_seg_tax_crime = df_seg_tax_crime.astype({
        'Regiao':'str',
        'Codigo':'str',
        'Total': 'float',
        'Crimes contra a integridade física': 'float',
        'Furto/roubo por esticão e na via pública': 'float',
        'Furto de veículo e em veículo motorizado': 'float',
        'Condução de veículo com taxa de álcool igual ou superior a 1,2g/l': 'float',
        'Condução sem habilitação legal': 'float',
        'Crimes contra o património': 'float'
    })

    return df_seg_tax_crime

def trata_mora_valor_renda():
        file_path = '..\\..\\Bases\\InePt\\moradia\\INE_PT-Valor-mediano-das-rendas.xls'

        excel_data = pd.ExcelFile(file_path)

        # Carregar a planilha 'Quadro'
        df_mora_valor_rendas = pd.read_excel(excel_data, sheet_name='Quadro')

        df_mora_valor_rendas= df_mora_valor_rendas.iloc[9:, [0, 1, 2, 3]]
        df_mora_valor_rendas.columns = [
                'Regiao', 
                'Codigo', 
                'Valor mediano das rendas por m2',
                'lixo'
        ]

        # Remover linhas completamente vazias
        df_mora_valor_rendas = df_mora_valor_rendas.dropna(how='all')

        df_mora_valor_rendas.drop(columns=['lixo'], inplace=True)

        df_mora_valor_rendas['Codigo'] = df_mora_valor_rendas['Codigo'].astype(str)
        # df_1= df_mora_valor_rendas[df_mora_valor_rendas['Codigo'].str.match(r'^\d{2}$')]
        # df_3= df_mora_valor_rendas[df_mora_valor_rendas['Codigo'].str.match(r'^\d{3}$')]

        df_mora_valor_rendas = df_mora_valor_rendas[df_mora_valor_rendas['Codigo'].str.len() == 7]

        # Criar nova coluna com valor estimado para apartamento de 100m²
        df_mora_valor_rendas['Valor apartamento 100m²'] = df_mora_valor_rendas['Valor mediano das rendas por m2'] * 100

         # Criar nova coluna com valor estimado para apartamento de 80m²
        df_mora_valor_rendas['Valor apartamento 80m²'] = df_mora_valor_rendas['Valor mediano das rendas por m2'] * 80


        return df_mora_valor_rendas

In [114]:
file_path = 'pordataFiles.json'
arquivos = read_json_file(file_path)

In [115]:
dataframes = read_csv_files_from_folders(folderPathPorData)

Processando arquivo: ..\..\Bases\PorData\cultura\623-recintos-de-cinema.csv
Processando arquivo: ..\..\Bases\PorData\cultura\631-sessoes-de-espetaculos-ao-vivo.csv
Processando arquivo: ..\..\Bases\PorData\economia\294-depositos-de-clientes-nos-bancos-caixas-economicas-e.csv
Processando arquivo: ..\..\Bases\PorData\economia\295-estabelecimentos-de-bancos-caixas-economicas-e-caixas.csv
Processando arquivo: ..\..\Bases\PorData\educacao\375-estabelecimentos-de-ensino-superior-por-subsistema.csv
Processando arquivo: ..\..\Bases\PorData\educacao\379-estabelecimentos-de-ensino-nao-superior-por-0.csv
Processando arquivo: ..\..\Bases\PorData\emprego\439-desemprego-registado-nos-centros-de-emprego-por-grup.csv
Processando arquivo: ..\..\Bases\PorData\emprego\445-populacao-empregada-por-conta-de-outrem-por-nivel-de.csv
Processando arquivo: ..\..\Bases\PorData\emprego\447-populacao-empregada-por-sexo-nivel-de-escolaridade-e.csv
Processando arquivo: ..\..\Bases\PorData\emprego\845-Pessoal-ao-servico-nas-empresas-por-ramo-de-atividade.csv
Processando arquivo: ..\..\Bases\PorData\migracoes\354-populacao-estrangeira-com-estatuto-legal-de-residente.csv
Processando arquivo: ..\..\Bases\PorData\moradia\978-edificios-concluidos-por-tipo-de-obra-e-fim-que-se.csv
Processando arquivo: ..\..\Bases\PorData\moradia\980-fogos-concluidos-em-construcoes-novas-para-habitacao.csv
Processando arquivo: ..\..\Bases\PorData\populacao\1-populacao-residente-por-sexo-e-grupo-etario.csv
Processando arquivo: ..\..\Bases\PorData\populacao\4-densidade-populacional.csv
Processando arquivo: ..\..\Bases\PorData\salarios\581-ganho-medio-mensal.csv
Processando arquivo: ..\..\Bases\PorData\salarios\582-ganho-medio-mensal-por-nivel-de-escolaridade.csv
Processando arquivo: ..\..\Bases\PorData\saude\464-farmacias.csv
Processando arquivo: ..\..\Bases\PorData\saude\470-hospitais-por-natureza-institucional.csv
Processando arquivo: ..\..\Bases\PorData\seguranca\559-crimes-registados-pelas-policias-por-tipo-de-crime.csv
Processando arquivo: ..\..\Bases\PorData\seguranca\560-crimes-por-categoria.csv

In [ ]:
df_taxa_crimes = trata_seg_taxa_crime()
adiciona_df_tratado("Seguranca","taxa_crimes", df_taxa_crimes)

In [117]:
df_mora_valor_rendas = trata_mora_valor_renda()
adiciona_df_tratado("Moradia","Valor Medio Arrendamento", df_mora_valor_rendas)

In [119]:
df_cultura_cinemas = find_df_by_name(dataframes, '623-recintos-de-cinema')
df_cultura_cinemas = trata_df_cultura(df_cultura_cinemas)
adiciona_df_tratado("Cultura","recintos-de-cinema" , df_cultura_cinemas)
# lista_cidades_cinemas(df_cultura_cinemas)

In [120]:
df_cultura_espetaculos = find_df_by_name(dataframes, '631-sessoes-de-espetaculos-ao-vivo')
df_cultura_espetaculos = trata_df_cultura(df_cultura_espetaculos)
adiciona_df_tratado("Cultura","sessoes-de-espetaculos-ao-vivo" , df_cultura_espetaculos)
# lista_cidades_cinemas(df_cultura_espetaculos)

In [122]:
df_populaccao_residente = find_df_by_name(dataframes, '1-populacao-residente-por-sexo-e-grupo-etario')
df_populaccao_final = trata_df_populacao_residente(df_populaccao_residente)
adiciona_df_tratado("Populacao","populacao-residente-por-sexo-e-grupo-etario" , df_populaccao_final)
# cidades_por_grupo(df_populaccao_final, categoria='Todos', n = 10) # Todos Crianças Adolescentes Jovens Adultos Adultos Idosos Populosas

In [123]:
df_densidade_populacional = find_df_by_name(dataframes, '4-densidade-populacional')
df_densidade_populacional = trata_df_populacao_densidade(df_densidade_populacional)
adiciona_df_tratado("Populacao","densidade-populacional" , df_populaccao_final)

In [124]:
df_seguranca_crime_catetoria = find_df_by_name(dataframes, '560-crimes-por-categoria')
df_seg_categoria = trata_crimes_catetoria(df_seguranca_crime_catetoria)
adiciona_df_tratado("Segurança","crimes-por-categoria" , df_seg_categoria)

In [125]:
df_seg_crimes_tipo = find_df_by_name(dataframes, '559-crimes-registados-pelas-policias-por-tipo-de-crime')
df_seg_crimes_tipo = trata_crimes_tipo(df_seg_crimes_tipo)
adiciona_df_tratado("Segurança","crimes-registados-pelas-policias-por-tipo-de-crime" , df_seg_crimes_tipo)

In [126]:
df_saude_hospitais = find_df_by_name(dataframes, '470-hospitais-por-natureza-institucional')
df_saude_hospitais = trata_hospitais(df_saude_hospitais)
adiciona_df_tratado("Saude","hospitais-por-natureza-institucional" , df_saude_hospitais)

In [127]:
df_saude_farmacias = find_df_by_name(dataframes, '464-farmacias')
df_saude_farmacias = trata_farmacias(df_saude_farmacias)
adiciona_df_tratado("Saude","farmacias" , df_saude_farmacias)

In [128]:
df_edu_ensino_n_superior =  find_df_by_name(dataframes, '379-estabelecimentos-de-ensino-nao-superior-por-0')
df_edu_escola_final = trata_ensino_n_superior(df_edu_ensino_n_superior)
adiciona_df_tratado("Educacao","estabelecimentos-de-ensino-nao-superior-por-0" , df_edu_escola_final)

In [129]:
df_edu_ensino_superior =  find_df_by_name(dataframes, '375-estabelecimentos-de-ensino-superior-por-subsistema')
df_edu_ensino_superior = trata_ensino_superior(df_edu_ensino_superior)
adiciona_df_tratado("Educacao","estabelecimentos-de-ensino-superior-por-subsistema" , df_edu_ensino_superior)

In [130]:
df_econ_depositos = find_df_by_name(dataframes, '294-depositos-de-clientes-nos-bancos-caixas-economicas-e')
df_econ_depositos = trata_econ_depositos(df_econ_depositos)
adiciona_df_tratado("Economia","depositos-de-clientes-nos-bancos-caixas-economicas-e" , df_econ_depositos)

In [132]:
df_econ_estabelecimentos_bancos = find_df_by_name(dataframes, '295-estabelecimentos-de-bancos-caixas-economicas-e-caixas')
df_econ_estabelecimentos_bancos = trata_econ_bancos(df_econ_estabelecimentos_bancos)
adiciona_df_tratado("Economia","estabelecimentos-de-bancos-caixas-economicas-e-caixas" , df_econ_estabelecimentos_bancos)

In [133]:
df_desemprego = find_df_by_name(dataframes, '439-desemprego-registado-nos-centros-de-emprego-por-grup')
df_desemprego = trata_df_desemprego(df_desemprego)
adiciona_df_tratado("Emprego","desemprego-registado-nos-centros-de-emprego-por-grup" , df_desemprego)

In [134]:
df_polacao_empregada = find_df_by_name(dataframes, '445-populacao-empregada-por-conta-de-outrem-por-nivel-de')
df_polacao_empregada = trata_populacao_empregada_escolaridade(df_polacao_empregada)
adiciona_df_tratado("Emprego","populacao-empregada-por-conta-de-outrem-por-nivel-de" , df_polacao_empregada)

In [135]:
df_polacao_empregada_ramo = find_df_by_name(dataframes, '845-Pessoal-ao-servico-nas-empresas-por-ramo-de-atividade')
df_polacao_empregada_ramo = trata_populacao_empregada_ramo(df_polacao_empregada_ramo)
adiciona_df_tratado("Emprego","Pessoal-ao-servico-nas-empresas-por-ramo-de-atividade" , df_polacao_empregada_ramo)

In [136]:
df_populacao_estrangeira = find_df_by_name(dataframes, '354-populacao-estrangeira-com-estatuto-legal-de-residente')
df_populacao_estrangeira = trata_populacao_estrangeira(df_populacao_estrangeira)
adiciona_df_tratado("Populacao","populacao-estrangeira-com-estatuto-legal-de-residente" , df_populacao_estrangeira)

In [137]:
df_moradia_edificios = find_df_by_name(dataframes, '978-edificios-concluidos-por-tipo-de-obra-e-fim-que-se')
df_moradia_edificios = trata_moradia_edificios(df_moradia_edificios)
adiciona_df_tratado("moradia","edificios-concluidos-por-tipo-de-obra-e-fim-que-se" , df_moradia_edificios)

In [138]:
df_construcoes_novas = find_df_by_name(dataframes, '980-fogos-concluidos-em-construcoes-novas-para-habitacao')
df_construcoes_novas = trata_construcoes_novas(df_construcoes_novas)
adiciona_df_tratado("moradia","fogos-concluidos-em-construcoes-novas-para-habitacao" , df_construcoes_novas)

In [139]:
df_sal_ganho_medio_mensal= find_df_by_name(dataframes, '581-ganho-medio-mensal')
df_sal_ganho_medio_mensal = trata_sal_ganho_medio_mensal(df_sal_ganho_medio_mensal)
adiciona_df_tratado("renda","ganho-medio-mensal" , df_sal_ganho_medio_mensal)

In [140]:
df_sal_ganho_medio_mensal_escol= find_df_by_name(dataframes, '582-ganho-medio-mensal-por-nivel-de-escolaridade')
df_sal_ganho_medio_mensal_escol = trata_sal_ganho_medio_mensal_escol(df_sal_ganho_medio_mensal_escol)
adiciona_df_tratado("renda","ganho-medio-mensal-por-nivel-de-escolaridade" , df_sal_ganho_medio_mensal_escol)

In [141]:
df_econ_poder_compra = trata_econ_poder_compra()
adiciona_df_tratado("renda","poder-de-compra" , df_econ_poder_compra)

In [142]:
dfs

[{'Categoria': 'Seguranca',
  'Nome': 'taxa_crimes',
  'df':                 Regiao   Codigo  Total  Crimes contra a integridade física  \
  14   Arcos de Valdevez  1111601   30.9                                 5.0
  15             Caminha  1111602   35.6                                 6.9
  16             Melgaço  1111603   41.9                                 5.7
  17              Monção  1111604   18.3                                 2.5
  18    Paredes de Coura  1111605   27.7                                 3.0
  ..                 ...      ...    ...                                 ...
  352      Ribeira Brava  3003107   19.5                                 5.9
  353         Santa Cruz  3003108   17.3                                 4.2
  354            Santana  3003109   16.4                                 4.1
  355        São Vicente  3003110   17.2                                 3.5
  356        Porto Santo  3003201   41.8                                 6.5

       Furto/roubo por esticão e na via pública  \
  14                                        NaN
  15                                        NaN
  16                                        NaN
  17                                        0.0
  18                                        0.0
  ..                                        ...
  352                                       NaN
  353                                       0.3
  354                                       0.0
  355                                       0.0
  356                                       0.0

       Furto de veículo e em veículo motorizado  \
  14                                        1.4
  15                                        2.5
  16                                        1.6
  17                                        1.2
  18                                        1.0
  ..                                        ...
  352                                       0.6
  353                                       0.5
  354                                       0.9
  355                                       0.6
  356                                       1.2

       Condução de veículo com taxa de álcool igual ou superior a 1,2g/l  \
  14                                                 2.0
  15                                                 2.8
  16                                                 2.2
  17                                                 2.2
  18                                                 4.0
  ..                                                 ...
  352                                                1.3
  353                                                1.7
  354                                                1.2
  355                                                2.9
  356                                               12.2

       Condução sem habilitação legal  Crimes contra o património
  14                              1.1                         9.3
  15                              1.3                        15.5
  16                              1.6                        18.9
  17                              1.6                         7.9
  18                              0.9                        12.9
  ..                              ...                         ...
  352                             NaN                         5.1
  353                             0.5                         6.8
  354                             0.8                         6.8
  355                             NaN                         6.1
  356                             NaN                        11.2

  [308 rows x 9 columns]},
 {'Categoria': 'Moradia',
  'Nome': 'Valor Medio Arrendamento',
  'df':                 Regiao   Codigo Valor mediano das rendas por m2  \
  12   Arcos de Valdevez  1111601                            4.64
  13             Caminha  1111602                            5.83
  14             Melgaço  1111603                            3.29
  15              Monção  1111604                            6.58
  16    Paredes de Coura  1111605                            3.84
  ..                 ...      ...                             ...
  641      Ribeira Brava  3003107                             NaN
  642         Santa Cruz  3003108                            9.02
  643            Santana  3003109                             NaN
  644        São Vicente  3003110                             NaN
  645        Porto Santo  3003201                             NaN

      Valor apartamento 100m² Valor apartamento 80m²
  12                    464.0                  371.2
  13                    583.0                  466.4
  14                    329.0                  263.2
  15                    658.0                  526.4
  16                    384.0                  307.2
  ..                      ...                    ...
  641                     NaN                    NaN
  642                   902.0                  721.6
  643                     NaN                    NaN
  644                     NaN                    NaN
  645                     NaN                    NaN

  [308 rows x 5 columns]},
 {'Categoria': 'Cultura',
  'Nome': 'recintos-de-cinema',
  'df':       Ano              Região Âmbito Geográfico  Valor
  0    2023            Abrantes         Município      0
  1    2023              Águeda         Município      0
  2    2023     Aguiar da Beira         Município      0
  3    2023           Alandroal         Município      1
  4    2023  Albergaria-a-Velha         Município      0
  ..    ...                 ...               ...    ...
  303  2023             Vimioso         Município      0
  304  2023             Vinhais         Município      0
  305  2023               Viseu         Município      3
  306  2023              Vizela         Município      1
  307  2023             Vouzela         Município      0

  [308 rows x 4 columns]},
 {'Categoria': 'Cultura',
  'Nome': 'sessoes-de-espetaculos-ao-vivo',
  'df':       Ano              Região Âmbito Geográfico  Valor
  0    2023            Abrantes         Município     26
  1    2023              Águeda         Município     89
  2    2023     Aguiar da Beira         Município      7
  3    2023           Alandroal         Município     36
  4    2023  Albergaria-a-Velha         Município     48
  ..    ...                 ...               ...    ...
  303  2023             Vimioso         Município     10
  304  2023             Vinhais         Município     32
  305  2023               Viseu         Município    488
  306  2023              Vizela         Município     15
  307  2023             Vouzela         Município     30

  [308 rows x 4 columns]},
 {'Categoria': 'Cultura',
  'Nome': 'populacao-residente-por-sexo-e-grupo-etario',
  'df':       Ano              Região  Homens  Mulheres  0 - 4 anos  10 - 14 anos  \
  0    2023            Abrantes   32484     35138        2006          2500
  1    2023     Aguiar da Beira    4988      5616         278           344
  2    2023           Alandroal    4856      5136         270           378
  3    2023  Albergaria-a-Velha   25172     26386        1932          2324
  4    2023           Albufeira   46510     48538        4692          4648
  ..    ...                 ...     ...       ...         ...           ...
  303  2023             Vouzela    9310     10220         640           714
  304  2023              Águeda   45582     48858        3520          4000
  305  2023               Évora   51400     56474        4474          5056
  306  2023              Ílhavo   40274     43984        3538          3900
  307  2023              Óbidos   13026     13562        1020          1164

       15 - 19 anos  20 - 24 anos  25 - 29 anos  30 - 34 anos  ...  \
  0            3216          3318          2816          2724  ...
  1             436           468           492           444  ...
  2             446           434           422           414  ...
  3            2584          2776          2908          2776  ...
  4            4922          4798          5578          6258  ...
  ..            ...           ...           ...           ...  ...
  303           786           998           964           990  ...
  304          4346          4832          4638          5058  ...
  305          5574          5628          5408          5528  ...
  306          4198          4524          4580          4834  ...
  307          1222          1392          1450          1348  ...

       Total Crianças  Total Adolescentes  Total Jovens Adultos  Total Adultos  \
  0              4272                5716                  3318          27320
  1               528                 780                   468           3996
  2               588                 824                   434           4224
  3              4100                4908                  2776          24082
  4              9124                9570                  4798          46940
  ..              ...                 ...                   ...            ...
  303            1286                1500                   998           8266
  304            7222                8346                  4832          42006
  305            9118               10630                  5628          48738
  306            7258                8098                  4524          39862
  307            2100                2386                  1392          11798

       Total Idosos  Proporção Crianças  Proporção Adolescentes  \
  0           26996            6.317471                8.452870
  1            4832            4.979253                7.355715
  2            3922            5.884708                8.246597
  3           15692            7.952209                9.519376
  4           24616            9.599360               10.068597
  ..            ...                 ...                     ...
  303          7480            6.584741                7.680492
  304         32034            7.647183                8.837357
  305         33760            8.452454                9.854089
  306         24516            8.614019                9.610957
  307          8912            7.898300                8.973973

       Proporção Jovens Adultos  Proporção Adultos  Proporção Idosos
  0                    4.906687          40.401053         39.921919
  1                    4.413429          37.683893         45.567710
  2                    4.343475          42.273819         39.251401
  3                    5.384227          46.708561         30.435626
  4                    5.047976          49.385574         25.898493
  ..                        ...                ...               ...
  303                  5.110087          42.324629         38.300051
  304                  5.116476          44.479034         33.919949
  305                  5.217198          45.180488         31.295771
  306                  5.369223          47.309454         29.096347
  307                  5.235445          44.373402         33.518881

  [308 rows x 33 columns]},
 {'Categoria': 'Populacao',
  'Nome': 'populacao-residente-por-sexo-e-grupo-etario',
  'df':       Ano              Região  Homens  Mulheres  0 - 4 anos  10 - 14 anos  \
  0    2023            Abrantes   32484     35138        2006          2500
  1    2023     Aguiar da Beira    4988      5616         278           344
  2    2023           Alandroal    4856      5136         270           378
  3    2023  Albergaria-a-Velha   25172     26386        1932          2324
  4    2023           Albufeira   46510     48538        4692          4648
  ..    ...                 ...     ...       ...         ...           ...
  303  2023             Vouzela    9310     10220         640           714
  304  2023              Águeda   45582     48858        3520          4000
  305  2023               Évora   51400     56474        4474          5056
  306  2023              Ílhavo   40274     43984        3538          3900
  307  2023              Óbidos   13026     13562        1020          1164

       15 - 19 anos  20 - 24 anos  25 - 29 anos  30 - 34 anos  ...  \
  0            3216          3318          2816          2724  ...
  1             436           468           492           444  ...
  2             446           434           422           414  ...
  3            2584          2776          2908          2776  ...
  4            4922          4798          5578          6258  ...
  ..            ...           ...           ...           ...  ...
  303           786           998           964           990  ...
  304          4346          4832          4638          5058  ...
  305          5574          5628          5408          5528  ...
  306          4198          4524          4580          4834  ...
  307          1222          1392          1450          1348  ...

       Total Crianças  Total Adolescentes  Total Jovens Adultos  Total Adultos  \
  0              4272                5716                  3318          27320
  1               528                 780                   468           3996
  2               588                 824                   434           4224
  3              4100                4908                  2776          24082
  4              9124                9570                  4798          46940
  ..              ...                 ...                   ...            ...
  303            1286                1500                   998           8266
  304            7222                8346                  4832          42006
  305            9118               10630                  5628          48738
  306            7258                8098                  4524          39862
  307            2100                2386                  1392          11798

       Total Idosos  Proporção Crianças  Proporção Adolescentes  \
  0           26996            6.317471                8.452870
  1            4832            4.979253                7.355715
  2            3922            5.884708                8.246597
  3           15692            7.952209                9.519376
  4           24616            9.599360               10.068597
  ..            ...                 ...                     ...
  303          7480            6.584741                7.680492
  304         32034            7.647183                8.837357
  305         33760            8.452454                9.854089
  306         24516            8.614019                9.610957
  307          8912            7.898300                8.973973

       Proporção Jovens Adultos  Proporção Adultos  Proporção Idosos
  0                    4.906687          40.401053         39.921919
  1                    4.413429          37.683893         45.567710
  2                    4.343475          42.273819         39.251401
  3                    5.384227          46.708561         30.435626
  4                    5.047976          49.385574         25.898493
  ..                        ...                ...               ...
  303                  5.110087          42.324629         38.300051
  304                  5.116476          44.479034         33.919949
  305                  5.217198          45.180488         31.295771
  306                  5.369223          47.309454         29.096347
  307                  5.235445          44.373402         33.518881

  [308 rows x 33 columns]},
 {'Categoria': 'Populacao',
  'Nome': 'densidade-populacional',
  'df':       Ano              Região  Homens  Mulheres  0 - 4 anos  10 - 14 anos  \
  0    2023            Abrantes   32484     35138        2006          2500
  1    2023     Aguiar da Beira    4988      5616         278           344
  2    2023           Alandroal    4856      5136         270           378
  3    2023  Albergaria-a-Velha   25172     26386        1932          2324
  4    2023           Albufeira   46510     48538        4692          4648
  ..    ...                 ...     ...       ...         ...           ...
  303  2023             Vouzela    9310     10220         640           714
  304  2023              Águeda   45582     48858        3520          4000
  305  2023               Évora   51400     56474        4474          5056
  306  2023              Ílhavo   40274     43984        3538          3900
  307  2023              Óbidos   13026     13562        1020          1164

       15 - 19 anos  20 - 24 anos  25 - 29 anos  30 - 34 anos  ...  \
  0            3216          3318          2816          2724  ...
  1             436           468           492           444  ...
  2             446           434           422           414  ...
  3            2584          2776          2908          2776  ...
  4            4922          4798          5578          6258  ...
  ..            ...           ...           ...           ...  ...
  303           786           998           964           990  ...
  304          4346          4832          4638          5058  ...
  305          5574          5628          5408          5528  ...
  306          4198          4524          4580          4834  ...
  307          1222          1392          1450          1348  ...

       Total Crianças  Total Adolescentes  Total Jovens Adultos  Total Adultos  \
  0              4272                5716                  3318          27320
  1               528                 780                   468           3996
  2               588                 824                   434           4224
  3              4100                4908                  2776          24082
  4              9124                9570                  4798          46940
  ..              ...                 ...                   ...            ...
  303            1286                1500                   998           8266
  304            7222                8346                  4832          42006
  305            9118               10630                  5628          48738
  306            7258                8098                  4524          39862
  307            2100                2386                  1392          11798

       Total Idosos  Proporção Crianças  Proporção Adolescentes  \
  0           26996            6.317471                8.452870
  1            4832            4.979253                7.355715
  2            3922            5.884708                8.246597
  3           15692            7.952209                9.519376
  4           24616            9.599360               10.068597
  ..            ...                 ...                     ...
  303          7480            6.584741                7.680492
  304         32034            7.647183                8.837357
  305         33760            8.452454                9.854089
  306         24516            8.614019                9.610957
  307          8912            7.898300                8.973973

       Proporção Jovens Adultos  Proporção Adultos  Proporção Idosos
  0                    4.906687          40.401053         39.921919
  1                    4.413429          37.683893         45.567710
  2                    4.343475          42.273819         39.251401
  3                    5.384227          46.708561         30.435626
  4                    5.047976          49.385574         25.898493
  ..                        ...                ...               ...
  303                  5.110087          42.324629         38.300051
  304                  5.116476          44.479034         33.919949
  305                  5.217198          45.180488         31.295771
  306                  5.369223          47.309454         29.096347
  307                  5.235445          44.373402         33.518881

  [308 rows x 33 columns]},
 {'Categoria': 'Segurança',
  'Nome': 'crimes-por-categoria',

In [ ]:
# liste as cidades com amior poder de compra usando df_econ_poder_compra
# imprima na tela

df_econ_poder_compra = df_econ_poder_compra.sort_values(by='Valor', ascending=False).head(100)
print("Cidades com maior poder de compra:")
print(df_econ_poder_compra[['Região', 'Valor']])

Cidades com maior poder de compra:
                 Região  Valor
223              Lisboa  9.748
228              Sintra  3.636
38                Porto  3.343
47    Vila Nova de Gaia  2.964
227              Oeiras  2.729
..                  ...    ...
103           Estarreja  0.219
101              Anadia  0.219
300               Lagoa  0.211
276          Portalegre  0.210
100  Albergaria-a-Velha  0.207

[100 rows x 2 columns]